<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
<%- include('./partials/header')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<div class="login-page">
				<div class="form">
				  <form class="register-form">
					<input type="text" placeholder="name"/>
					<input type="password" placeholder="password"/>
					<input type="text" placeholder="email address"/>
					<button type="submit"><a href="/profile">Ingresar</a></button>
					<p class="message">Already registered? <a href="#">Sign In</a></p>
				  </form>


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>