<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head')  %> ;

<body>
	<!-- Header -->
	<%- include('./partials/header') %> 
					<!-- Solo deslogueado <li>
							<a href="register.html">Creá tu cuenta <i class="far fa-address-card"></i>
							</a>
						</li>
						<li>
							<a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a>
						</li> -->
				
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="login-page">
				<div class="form">
				  <form class="register-form">
					<input type="text" placeholder="name"/>
					<input type="password" placeholder="password"/>
					<input type="text" placeholder="email address"/>
					<button>create</button>
					<p class="message">Already registered? <a href="#">Sign In</a></p>
				  </form>
				  <form class="login-form">
					<input type="text" placeholder="username"/>
					<input type="password" placeholder="password"/>
					<button>login</button>
					<p class="message">Not registered? <a href="#">Create an account</a></p>
				  </form>
				</div>
			  </div>


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>