<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/header') %> 
					<!-- Solo deslogueado <li>
							<a href="register.html">Creá tu cuenta <i class="far fa-address-card"></i>
							</a>
						</li>
						<li>
							<a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a>
						</li> -->
				
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container products-wrapper">
		<div class="row">
		
			<!-- Show the "ultimos" products -->
			<div class="login-page">
				<div class="form">
				  <form class="register-form" method="POST">
					<input type="text" placeholder="Nomnbre del producto"/>
					<input type="number" placeholder="Cantidad"/>
					<input type="file" placeholder="imagen"/>
					<button>agregar</button>

					<!-- Show the "ultimos" products -->
			

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>