<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<% if(locals.usuario != undefined){ %>
        <%- include('./partials/headerLogeado') %>
   
    <%  } else {%>
        <%- include('./partials/header') %>

    <% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container products-wrapper">
		<div class="row">
		
			<!-- Show the "ultimos" products -->
			<div class="login-page">
				<div class="form">
				  <form class="register-form" action="/product/add" method="POST" enctype="multipart/form-data"> >
					<input type="text" name="nombre" placeholder="Nombre del producto"/>
					<input type="text" name="descripcion" placeholder="Descripcion"/>
					<input type="file" name="imagen" placeholder="imagen"/>
					<button>agregar</button>

				
					
			

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>