<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/header') %> 
					<!-- Solo deslogueado <li>
							<a href="register.html">Creá tu cuenta <i class="far fa-address-card"></i>
							</a>
						</li>
						<li>
							<a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a>
						</li> -->
				
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container products-wrapper">
		<div class="row">
		
			<!-- Show the "ultimos" products -->
			<div class="login-page">
				<div class="form">
				  <form class="register-form" action="/editProduct/:id" method="POST">
					<input type="text" name="nombreProducto" placeholder="Nombre del producto"/>
					<input type="text" name="descripcion" placeholder="Descripcion"/>
					<input type="file" name="imagen" placeholder="imagen"/>
					<button>Editar</button>

					<!-- Show the "ultimos" products -->
				

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>