<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')  %> 
	
					<!-- Solo deslogueado <li>
								<a href="register.html">Creá tu cuenta <i class="far fa-address-card"></i>
								</a>
							</li>
							<li>
								<a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a>
							</li> -->
				</ul>
			</nav>
		</div>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
					
					<div class="form">
						
						  <form action="/profile/profile-edit/<%= usuario.id %>" method="POST" enctype="multipart/form-data">
							<input type="text" name="email" placeholder="nuevo mail">
				            <input type="text" name="usuario" placeholder="nuevo nombre"/>
				            <input type="password" name="contra" placeholder="nueva contraseña"/>
				            <input type="date" name="fecha_de_nacimiento" placeholder="nueva fecha de nacimiento">
				            <input type="number" name="nro_de_documento" placeholder="nuevo nro de documento">
			                <input id="foto" type="file" name="imagen" placeholder="nueva foto de perfil">
							<button>guardar cambios</button>
							</form>
							</div>
		
		


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>