<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
<%- include('./partials/header')  %> 
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
			<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
			
			<div class="form">
				<form  action="/profile/register" method="POST"> 
				  <input type="text" name="email" placeholder="mail">
				  <input type="text" name="usuario" placeholder="nombre de usuario"/>
				  <input type="password" name="contrasenia" placeholder="contraseña"/>
				  <input type="date" name="fecha" placeholder="fecha de nacimiento">
				  <input type="number" name="nro_de_documento" placeholder="nro de documento">
				  <input type="file" name="foto" placeholder="foto de perfil">
				  <button type="submit">Ingresar</button>
				</form>
		  </div>	

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>